<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon mat-list-icon>accessibility</mat-icon>
    </div>
    <mat-card-title>Mój bilans dnia</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip>Kalorie: 2500</mat-chip>
        <mat-chip>Węglowodany: 120</mat-chip>
        <mat-chip color="primary" selected="true">Białko: 23</mat-chip>
        <mat-chip color="accent" selected="true">Tłuszcze: 340</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Wybierz porę posiłku i dodawaj produkty. Licz kalorie i sprawdz swój dzieny bilans składnoków odżywczych.
    </p>
    <mat-tab-group>
      <mat-tab label="Śniadanie">Content 1</mat-tab>
      <mat-tab label="Drugie śnadanie">Content 2</mat-tab>
      <mat-tab label="Obiad/Lunch">Content 2</mat-tab>
      <mat-tab label="Podwieczorek">Content 2</mat-tab>
      <mat-tab label="Kolacja">Content 2</mat-tab>
      <mat-tab label="Przegryzka">Content 2</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
