<header fxLayout='row'>
  <mat-toolbar color="primary">
    <div class="app-logo">
      <h1>FoodCalc</h1>
      <h2>{{title}}</h2>
    </div>
    <div fxFlex></div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>fingerprint</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>close</mat-icon>
          <span>Logout</span>
        </button>
        <button mat-menu-item>
          <mat-icon>content_paste</mat-icon>
          <span>Registration</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
<section id="main" class="main" fxLayout='row'>
  <section class="sidebar" fxFlex="220px">
    <div class="main-menu-header">
      <div fxLayout='row' fxFlex="200px">
        <div fxFlex="33%">
          <button mat-mini-fab>
            <mat-icon color="primary">message</mat-icon>
          </button>
        </div>
        <div fxFlex="33%">
          <button mat-mini-fab>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <div fxFlex="33%">
          <button mat-mini-fab>
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="main-menu">
      <mat-list>
        <h3 mat-subheader>Navigation</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <h4 mat-line>
            <a href="#">Dashboard</a>
          </h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>featured_play_list</mat-icon>
          <h4 mat-line>
            <a href="#">Moja lista produktów</a>
          </h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>wb_sunnyt</mat-icon>
          <h4 mat-line>
            <a href="#">Produkty sezonowe</a>
          </h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Notes</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>
            <a href="#">Notatki</a>
          </h4>
        </mat-list-item>
      </mat-list>
    </div>
  </section>
  <section class="content" fxFlex>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon mat-list-icon>accessibility</mat-icon>
        </div>
        <mat-card-title>Mój bilans dnia</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Kalorie: 2500</mat-chip>
            <mat-chip>Węglowodany: 120</mat-chip>
            <mat-chip color="primary" selected="true">Białko: 23</mat-chip>
            <mat-chip color="accent" selected="true">Tłuszcze: 340</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Wybierz porę posiłku i dodawaj produkty. Licz kalorie i sprawdz swój dzieny bilans składnoków odżywczych.
        </p>
        <mat-tab-group>
          <mat-tab label="Śniadanie">Content 1</mat-tab>
          <mat-tab label="Drugie śnadanie">Content 2</mat-tab>
          <mat-tab label="Obiad/Lunch">Content 2</mat-tab>
          <mat-tab label="Podwieczorek">Content 2</mat-tab>
          <mat-tab label="Kolacja">Content 2</mat-tab>
          <mat-tab label="Przegryzka">Content 2</mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </section>
</section>
