<header fxLayout='row'>
  <mat-toolbar color="primary">
    <div class="app-logo">
      <h1>FoodCalc</h1>
    </div>
    <div fxFlex></div>
    <!-- Languages switch menu -->
    <div>
      <button mat-button [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
         <span>{{ selectedLanguage }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu  #languageMenu overlapTrigger="false">
        <button (click)="selectLanguage('pl')" mat-menu-item>
          {{ 'HEADER.LANGUAGE_POLISH' | translate: lang}}
        </button>
        <button (click)="selectLanguage('en')" mat-menu-item>
          {{ 'HEADER.LANGUAGE_ENGLISH' | translate: lang}}
      </button>
      </mat-menu>
    </div>
     <!-- END Languages switch menu -->
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>fingerprint</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>close</mat-icon>
          <span>Logout</span>
        </button>
        <button mat-menu-item>
          <mat-icon>content_paste</mat-icon>
          <span>Registration</span>
        </button>
      </mat-menu>
    </div>
    <div fxFlex='20px'></div>
  </mat-toolbar>
</header>
